<%# 登录页面html代码 %>
<form class="reg-form">
    <label for="">
        <span>用户名 : </span><input type="text" id="username" placeholder="请输入用户名"/>
    </label>
    <label>
        <span>密码 : </span><input type="password" id="password" placeholder="请输入密码"/>
        <p></p>
    </label>
    <input type="submit" value="登录"/>
</form>