<%# 注册页面html代码 %>
<form class="reg-form">
    <label for="">
        <span>用户名 : </span><input type="text" id="username" placeholder="请输入用户名"/>
    </label>
    <label class="user info">
        <span></span><p></p>
    </label>
    <label>
        <span>密码 : </span><input type="password" id="password" placeholder="请输入密码"/>
        <p></p>
    </label>
    <label for="">
        <span>确认密码 : </span><input type="password" id="password2" placeholder="请确认密码"/>
        <p></p>
    </label>
    <label for="">
        <span>email : </span><input type="email" id="email" placeholder="请输入邮箱"/>
        <p></p>
    </label>
    
    <input type="submit" value="注册"/>
</form>