<header class='login-head'>
	<div class="left">
		<a href="javascript:;" ng-click="goPage('/home')"></a>
	</div>
	<div class="right">
		<a href="javascript:;" class="login active">登录</a>
		<a href="javascript:;" class="regist" ng-click="goPage('/regist')">注册</a>
	</div>
</header>
<div class="login-content">
	<div class="form">
		<form>
			<div class="phone">
				<input type="text" placeholder="请输入手机号" />
			</div>
			<div class="password">
				<input type="password" placeholder="请输入密码" />
			</div>
		</form>
	</div>
	<div class="wangji">
		<a href="javascript:;">忘记密码?</a>
	</div>
	<div class="logBtn">
		<a href="javascript:;" class="login-btn">登 录</a>
	</div>
	<div class="qita">
		<div class="title">
			选择其他登录方式
			<div class="line"></div>
			<div class="line"></div>
		</div>
		<div class="content">
			<a href="javascript:;" class="weixin"><span></span>微博</a>
			<a href="javascript:;" class="qq"><span></span>QQ</a>
		</div>
	</div>
</div>