<header class='regist-head'>
	<div class="left">
		<a href="javascript:;" ng-click="goPage('/home')"></a>
	</div>
	<div class="right">
		<a href="javascript:;" class="login" ng-click="goPage('/login')">登录</a>
		<a href="javascript:;" class="regist active">注册</a>
	</div>
</header>
<div class="regist-content">
	<div class="form">
		<form>
			<div class="phone">
				<input type="text" placeholder="请输入手机号" />
			</div>
		</form>
	</div>

	<div class="logBtn">
		<a href="javascript:;" class="login-btn" ng-click="goPage('/regist2')">下一步</a>
	</div>
	<div class="yuedu">
		继续注册表示已经阅读并同意
		<a href="javascript:;">《你他购服务条款》</a>
	</div>

	<div class="qita">
		<div class="title">
			选择其他登录方式
			<div class="line"></div>
			<div class="line"></div>
		</div>
		<div class="content">
			<a href="javascript:;" class="weixin"><span></span>微博</a>
			<a href="javascript:;" class="qq"><span></span>QQ</a>
		</div>
	</div>

</div>