h1 {
    font-size: 24px;
    color: #000;
}
.cart {
    width: 100%;
    
    position: relative;
    .cart-title {
        width: 1190px;
        height: 40px;
        line-height: 40px;
        background: url(../imgs/car/carlog.jpg) no-repeat 0 6px;
        margin: 0 auto;
        position: relative;
        h1 {
            width: 200px;
            position: absolute;
            left: 30px;
            top: 0;
            color: #666;
        }
    }
    
    .car-container {
        width: 1190px;
        margin: 0 auto;
        .car-con-empty {
            width: 1190px;
            height: 138px;
            margin-bottom: 20px;
            padding-top: 100px;
            display: none;
            background: #efefef url(../imgs/car/bg.jpg) no-repeat 400px center;
            p {
                width: 306px;
                margin-left: 480px;
                margin-bottom: 10px;
            }
           
            .div {
                p {
                    a {
                        text-decoration: underline;
                        color: blue;
                    }
                }
            }
        }
        .car-con-goodslist {
            width: 1190px;
            margin-top: 20px;
            p {
                margin-top:　20px;
                margin-bottom: 5px;
                margin-left: 20px;
                width: 100px;
                font-size: 16px;
            }
            .goodslist-title {
                width: 1190px;
                height: 60px;
                
                div {
                    width: 333px;
                    height: 32px;
                    display: inline-block;
                    background-color: #efefef;
                    line-height: 32px;
                    color: #8c8c8c;
                    font-size: 16px;
                    font-weight: 600;
                    &.active {
                        background-color: #faa419;
                        color: #fff;
                        span {
                            color: #faa419;
                            background-color: #fff;
                        }
                    }
                    span {
                        width: 20px;
                        height: 20px;
                        line-height:20px;
                        margin-left: 20px;
                        margin-right: 10px;
                        text-align:  center;
                        display: inline-block;
                        border-radius: 50%;
                        background-color: #cbcbcb;
                        color: #fff;
                        font-size: 14px;
                    }
                }
                b {
                    width: 19px;
                    height: 16px;
                    margin: 0 30px;
                    margin-bottom: -4px;
                    background: url(../imgs/car/arrowR.jpg) no-repeat 0 0;
                    display: inline-block;
                }
                
            }
            .goodslist-con {
                width: 1188px;
                border: 1px solid #ccc;
                margin-bottom: 20px;
                .ul {
                    width: 1188px;
                    height: 36px;
                    background-color: #efefef;
                    li {
                        height: 36px;
                        line-height: 36px;
                        text-align:  center;
                        float: left;  
                        &:nth-child(1) {
                            width: 600px;
                        }
                        &:nth-child(2) {
                            width: 60px;
                        }
                        &:nth-child(3) {
                            width: 140px;
                        }
                        &:nth-child(4) {
                            width: 80px;
                        }
                        &:nth-child(5) {
                            width: 90px;
                        }
                        &:nth-child(6) {
                            width: 120px;
                        }
                        &:nth-child(7) {
                            width: 90px;
                            float: right;
                        }
                    }
                }
                .goodslist-item {
                    ol {
                        width: 1188px;
                        height: 106px;
                        border-bottom: 1px solid #ccc;
                        li {
                            height: 106px;
                            float: left;  
                            &:nth-child(1) {
                                width: 100px;
                                img {
                                    width: 80px;
                                    height: 80px;
                                    margin-left: 10px;
                                    margin-top: 10px;
                                    border: 1px solid #ccc;
                                }
                            }
                            &:nth-child(2) {
                                width: 500px;
                                height: 86px;
                                padding-top: 20px;
                                a:hover {
                                    color: red;
                                }
                                span {
                                    margin-top: 10px;
                                    display: block;
                                }
                            }
                            &:nth-child(3) {
                                width: 90px;
                                height: 86px;
                                padding-top: 20px;
                            }
                            &:nth-child(4) {
                                width: 130px;
                                font-size: 14px;
                                height: 86px;
                                padding-top: 15px;
                                span {
                                    width: 30px;
                                    float: left;
                                    height: 24px;
                                    line-height: 24px;
                                    text-align: center;
                                    user-select: none;
                                    border: 1px solid #ccc;
                                    cursor: pointer;
                                    &:hover {
                                       background-color: #999;
                                       color: #fff; 
                                    }
                                }
                                input {
                                    width: 40px;
                                    height: 24px;
                                    line-height: 24px;
                                    text-align: center;
                                    border: 1px solid #ccc;
                                    float: left;
                                    &:hover {
                                       border: 1px solid red; 
                                    }
                                }
                            }
                            &:nth-child(5) {
                                width: 70px;
                                height: 86px;
                                padding-top: 20px;
                            }
                            &:nth-child(6) {
                                width: 80px;
                                height: 86px;
                                padding-top: 20px;
                                text-align: center;
                                
                            }
                            &:nth-child(7) {
                                width: 120px;
                                height: 86px;
                                text-align: center;
                                padding-top: 20px;
                                color: red;
                                span {
                                    color: red;
                                }
                            }
                            &:nth-child(8) {
                                width: 90px;
                                float: right;
                                height: 86px;
                                padding-top: 20px;
                                a {
                                    margin-left: 4px;
                                    color: blue;
                                }
                                span {
                                    margin-left: 4px;
                                }
                            }
                        }
                    }
                }
                .goodslist-total {
                    width: 1188px;
                    height: 130px;
                    ul {
                        width: 260px;
                        height: 100px;
                        margin-top: 20px;
                        float: right;
                        li {
                            line-height: 25px;
                           
                            b {
                                width: 100px;
                                line-height: 25px;
                                display: inline-block;
                                text-align: right;
                                 font-size: 14px; 
                            }
                            span {
                                color: red;
                                font-size: 16px;
                            }
                            &:first-child {
                                span {
                                    margin: 0 4px;
                                }
                            }
                            &:last-child {
                                span {
                                    color: red;
                                    font-size: 20px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
                .goodslist-goumai {
                    width: 1188px;
                    height: 62px;
                    background-color: #efefef;
                    a {
                        float: left;
                        &:nth-child(1) {
                            width: 78px;
                            height: 24px;
                            line-height: 24px;
                            text-align: center;
                            border: 1px solid #ccc;
                            margin-left: 16px;
                            margin-top: 20px;
                        }
                        &:nth-child(2) {
                            width: 78px;
                            height: 24px;
                            margin-left: 10px;
                            margin-top: 20px;
                            line-height: 24px;
                            text-align: center;
                            background-color: #f69214;
                            color: #fff;
                        }
                        &:nth-child(3) {
                            text-decoration: underline;
                            margin-left: 770px;
                            margin-top: 22px;
                            &:hover {
                                color: blue;
                            }
                        }
                        &:nth-child(4) {
                            width: 140px;
                            height: 40px;
                            font-size: 16px;
                            line-height: 40px;
                            text-align: center;
                            color: #fff;
                            margin-top: 12px;
                            margin-left: 15px;
                            background: #d61d27 url(../imgs/car/maibg.jpg) no-repeat 110px center;
                        }
                    }
                }
            }
        }
        
    }
    .car-history {
        width: 1190px;
        height: 168px;
        border: 1px solid #ccc;
        margin: 0px auto;
        h3 {
            width: 1180px;
            height: 38px;
            line-height: 38px;
            padding-left: 10px;
            border-bottom: 1px solid #ccc;
            background-color: #efefef;
        }
        .car-history-con {
            
            .car-history-conitem {
                width: 220px;
                height: 110px;
                margin-left: 10px;
                margin-top: 10px;
                float: left;
                .img {
                    width: 105px;
                    float: left;
                    img {
                        width: 100px;
                        height:　100px;
                        border: 1px solid #ccc;
                        margin-top: 4px;
                        margin-left: 4px;
                    }
                    
                }
                .img2 {
                    float: right;
                    margin-top: 4px;
                    .img-title {
                        display: inline-block;
                        width: 100px;
                        height: 42px;
                        line-height: 21px;
                        overflow: hidden;
                    }
                    a:hover {
                        color: red;
                        text-decoration: underline;
                    }
                    span {
                        color: red;
                    }
                    .goumai {
                        display: inline-block;
                        width: 90px;
                        height: 25px;
                        line-height: 25px;
                        text-align: center;
                        color: #fff;
                        margin-top: 15px;
                        background-color: #fc530a;
                        cursor: pointer;
                    }
                }
                
               
            }
        }
    }
}
